# =====================
# Node
# =====================
node_modules/

# =====================
# Environment
# =====================
.env
.env.*
backend/.env

# =====================
# Build
# =====================
dist/
build/
my-app/dist/

# =====================
# Logs
# =====================
*.log

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db